<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<script type="text/javascript" th:replace ="fragments/header :: lib"></script>
<title>Fresh Votes - dashboard</title>
</head>
<body>
<div th:replace ="~{fragments/header :: PageNav}"></div>
	<div class="container">

		<div class="row mt-5">
			<div class="col-8">
				<h1>Dashboard</h1>
				<form action="/products" method="post" class="mt-2">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<button type="submit" id="createProduct" class="btn btn-dark">Create a Product</button>
				</form>
				<div class="col-8 mt-2">
					<div class="row" th:each="product : ${products}">
						<a th:href="@{/products/{id}(id=${product.id})}" th:text="|${product.name}|"></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>