<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" th:replace ="fragments/header :: lib"></script>
<title>Fresh Votes - home</title>
</head>
<body>
    <div th:replace ="~{fragments/header :: PageNav}"></div>
	<div class="container">
	     <div class="row mt-5">
	     	<div class="col-8">
	     		<h1>Welcome</h1>
	     	</div>
	     </div>
	</div>
	<script type="text/javascript">
		let login = document.getElementById('login')
		login.addEventListener('click', function() {
			window.location.href = "/login";
		})
	</script>
</body>
</html>